<%- include('./partials/header.ejs') %>

    <body>

        <%- include('./partials/nav.ejs') %>

            <div class="blog_details">
                <h2>Detailed Blog</h2>
                <h3>
                    <%= blog.title %>
                </h3>
                <p>
                    <%= blog.body %>
                </p>

                <a class="delete" data-doc="<%= blog._id %>">Delete</a>
            </div>

            <%- include('./partials/footer.ejs') %>

    </body>

    <script>
        const trashcan = document.querySelector('a.delete');

        trashcan.addEventListener('click', (e) => {
            const endpoint = `/blogs/${trashcan.dataset.doc}`;

            fetch(endpoint, { method: 'DELETE' })
                .then((response) => response.json())
                .then((data) => window.location.href = data.redirect)
                .catch((err) => {
                    console.log(err);
                });
        });
    </script>


    </html>